#!/usr/bin/python3

import cgi
import subprocess

print("content-type: text/html")
print("This is machine {{ ansible_hostname }} running {{ ansible_os_family }} {{ ansible_distribution }} {{ ansible_distribution_major_version }}")
print(subprocess.getoutput("/usr/games/fortune"))
